<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaWebDemo</display-name>
  <welcome-file-list>
    <welcome-file>brochure.html</welcome-file>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>com.org.action.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/UserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserIndex</display-name>
    <servlet-name>UserIndex</servlet-name>
    <servlet-class>com.org.action.UserIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/UserIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDel</display-name>
    <servlet-name>UserDel</servlet-name>
    <servlet-class>com.org.action.UserDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDel</servlet-name>
    <url-pattern>/UserDel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMod</display-name>
    <servlet-name>UserMod</servlet-name>
    <servlet-class>com.org.action.UserMod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMod</servlet-name>
    <url-pattern>/UserMod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInitpwd</display-name>
    <servlet-name>UserInitpwd</servlet-name>
    <servlet-class>com.org.action.UserInitpwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInitpwd</servlet-name>
    <url-pattern>/UserInitpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCheckLogin</display-name>
    <servlet-name>UserCheckLogin</servlet-name>
    <servlet-class>com.org.action.UserCheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCheckLogin</servlet-name>
    <url-pattern>/UserCheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLook</display-name>
    <servlet-name>UserLook</servlet-name>
    <servlet-class>com.org.action.UserLook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLook</servlet-name>
    <url-pattern>/UserLook</url-pattern>
  </servlet-mapping>
</web-app>